*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix:after{
	display: block;
	content: "";
	clear: both;
}

body{
	background: url(../img/body-bg.png) no-repeat;
	background-size: cover;
	margin: 230px 0;
	line-height: 1.33333;
	font-family: Arial, sans-serif;
}

.wrapper{
	width: 1024px;
	background-color: #fff;
	margin: 0 auto;
	padding: 0 60px 0 64px;
}

.page-top{
	margin-bottom: 60px;
	padding-top: 118px;
	padding-bottom: 48px;
	border-bottom: 1px solid #dedbdb;
}

.page-top-section{
	float: left;
}

.agency-profile{
	width: 73%;
	margin-right: 3%;
}

.our-principles{
	width: 24%;
}

.title{
	margin-bottom: 46px;
	font-size: 32px;
	font-weight: 300;
	color: #263555;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.picture-agency-profile{
	float: left;
	margin-right: 26px;
	margin-bottom: 24px;
}

.passage-bold{
	margin-bottom: 16px;
	font-weight: bold;
	font-size: 15px;
	line-height: 1.26666;
	color: #878d9a; 
}

.passage{
	font-size: 13px;
	line-height: 1.46154;
	margin-bottom: 14px;
}

.passage:last-child{
	margin-bottom: 0;
}

.list{
	counter-reset: section;
	list-style: none;
}

.list-item{
	margin-bottom: 32px;
}

.list-item:last-child{
	margin-bottom: 0;
}

.list-item:before{
	float: left;
	display: inline-block;
	counter-increment: section;
	content: "" counter(section);
	width: 27px;
	height: 27px;
	background-color: #38afe5;
	margin-right: 12px;
	text-align: center;
	color: #fff;
	line-height: 27px;
	border: 1px solid #4998ba;
	border-radius: 15px;
}

.article-item{
	float: left;
	width: calc(100% - 47px);
}

.list-title{
	margin-bottom: 14px;
	font-size: 15px;
	color: #263555;
}

.list-passage{
	font-size: 13px;
	color: #4e5050;
}

.page-bottom{
	padding-bottom: 86px;
} 

.page-bottom-section{
	float: left;
}

.what-we-offer{
	width: 73%;
	margin-right: 3%;
}

.what-we-offer > .passage{
	margin-bottom: 35px;
}

.testimonial{
	width: 24%;
}

.lists > .list{
	float: left;
	margin-right: 45px;
}

.lists > .list:last-child{
	margin-right: 0;
}

.list-item-what-we-offer{
	margin-bottom: 20px;
	font-size: 15px;
	color: #263555;
}

.list-item-what-we-offer:last-child{
	margin-bottom: 0;
}

.list-item-what-we-offer:before{
	content: "→";
	margin-right: 10px;
	color: #38afe5;
}

.title-testimonial{
	margin-bottom: 24px;
}

.passage-testimonial{
	position: relative;
	margin-bottom: 60px;
	padding: 20px 25px;
	font-size: 15px;
	color: #3f4a64;
	border: 1px solid #dedbdb;
	border-radius: 5px;
}
.passage-testimonial:before,
.passage-testimonial:after{
	position: absolute;
	bottom: -60px;
	right: 75px;
	display: inline-block;
	content: "";
	border: 30px solid transparent; /* Прозрачные границы */
    border-top: 30px solid #fff;
}

.passage-testimonial:before{
	border: 32px solid transparent;
	border-top: 32px solid #dedbdb;
	bottom: -64px;
	right: 73px;
}

.name-testimonial{
	margin-bottom: 20px;
	text-align: center;
	color: #263555;
}

.name-testimonial + span{
	display: block;
	font-size: 13px; 
	color: #4e5050;
	text-align: center;
}

